<%- include('layout', { title: title, body: `
    <div id="CountryInfo" >
      <h1>About Me</h1>
      <p>My name is Sampreet Singh. I am studying Mobile Solution development at Conestoga college. You can contact me at sampreetsingh3607@conestogac.on.ca </p>
      <h2>The country Where I born and brought up</h2>
       
    </div>
  ` }) %>
  