<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('header') %>
  <div class="container mt-5">
      <div class="text-center">
        <h1>Welcome to the Admin Dashboard</h1>
        <a href="/admin/manage-category" class="add-to-cart-btn">Manage Categories</a>
        <a href="/admin/manage-products" class="add-to-cart-btn">Manage Products</a>
      </div>
      
    
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <%- include('footer') %>
</body>
</html>
