<%- include('layout', { title: title, body: `
    <div id="PersonalInfo" >
        <h2>Personal Information</h2>
        <p>Hi, My name is Sampreet Singh. I am from Punjab, India. I love to ride Motorcycle, watching movies, travel to
            new desinations, try different cousine and cooking.
            I speak English, Punjabi, Hindi languages. I have a long list of things to do in my life some of them
            are:</p>
        <ol>
            <li> I want to go on a world tour.</li>
            <li> I want to visit every ammusment park in the world.</li>
        </ol>
    </div>
   
` }) %>