<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="shortcut icon" href="/img/favicon.png">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <img src="/img/samPpic.jpg" width="130"> 
    <p>Sampreet Singh</p>
    <p>8963607</p>
    <p><a style="color: white;" href="mailto: abc@example.com">sampreetsingh3607@conestogac.on.ca</a> </p>
</header>
  <main>
    <%- body %>
  </main>
  <aside>
    <h2>Links</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li>
            <a title="LinkedIn" target="_blank"
                href="https://www.linkedin.com/in/sampreet-singh-71a46731/">LinkedIn</a>
        </li>
        <li>
            <a title="Github" target="_blank" href="https://github.com/sampreetKhinda">Github</a>
        </li>
    </ul>
</aside>
<div class="clear"></div>
  <footer>
    <p>
        &copy; Copyright Conestoga College 2024
    </p>
</footer>
</body>
</html>

